<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pirate Name: <%=@pirate.name%></h1>
    <p>Pirate height: <%=@pirate.height%></p>
    <p><%=@pirate.weight%></p>
    <h2><%=@ship.name%></h2>
    <p><%=@ship.type%></p>
    <p><%=@ship.booty%></p>
    <h2><%=@ship2.name%></h2>
    <p><%=@ship2.type%></p>
    <p><%=@ship2.booty%></p>
  </body>
</html>
